:global(.navds-tag--error) {
  height: 32px;
  font-size: 1rem;
  line-height: 1.25rem;
  border-radius: 0;
  padding: 6px 8px;
}

.svg_error {
  color: var(--a-nav-red);
}

.innhold {
  margin-left: 10px;
}
