.mulighetsrommet-veileder-flate {
  .filtertags {
    .navds-button {
      min-width: unset;

      &__inner {
        justify-content: center;
      }
    }

    .ikonknapp {
      padding: var(--navds-spacing-2) 0;
      padding-left: var(--navds-spacing-2);
    }

    &__ikon {
      width: 70%;
      height: auto;
    }

    .navds-tag {
      background-color: #cce1ff;
    }
  }
}
