:global(.navds-button) {
  min-width: unset;
}

:global(.navds-button__inner) {
  justify-content: center;
}

:global(.navds-button).overstyrt_ikon_knapp {
  padding: var(--a-spacing-1) 0;
  margin-left: 0.4rem;
}
