.form {
  max-width: 40rem;

  :global(.navds-form-field),
  :global(.navds-date__wrapper),
  :global(.navds-switch) {
    margin: 1rem 0rem;
  }
}

.separator {
  border-bottom: #00000030 solid 1px;
  margin: 2rem 0rem;
}

.summaryContainer {
  display: flex;
  justify-content: right;
  align-items: center;
}
