.overwritten_poster {
  :global(.navds-guide) {
    background-color: var(--a-surface-success-subtle);
    border-color: var(--a-border-success);
    padding: 10px;
  }
  :global(.navds-guide-panel__content) {
    border-color: var(--a-border-success);
  }
}
