.input_container {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.telefonepost_input {
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
}

.telefon_input {
  display: flex;
  flex: 1 1 auto;
}

.epost_input {
  flex: 2 1 auto;
}

.kontaktperson_info_container {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.kontaktperson_button {
  display: inline-flex;
  text-align: left;
  align-items: center;
  padding: 0;
  margin: 0.5rem 0;
  color: var(--a-text-action);
  background: none;
  border: none;

  &:hover {
    color: var(--a-text-action);
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.button_container {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rediger_button {
  width: 30%;
}