.kontaktperson_container {
  background-color: var(--a-surface-selected);
  padding: 1rem;
  position: relative;
  border-radius: 0.2rem;
}

.input_container {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.telefonepost_input {
  margin-top: 8px;
  display: flex;
  justify-content: space-between;
}

.telefon_input {
  display: flex;
  flex: 1 1 auto;
}

.epost_input {
  flex: 2 1 auto;
}

.kontaktperson_info_container {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
}

.kontaktperson_label {
  margin-bottom: 8px;
  display: inline-block;
  font-size: 16px;
}

.kontaktperson_button {
  display: inline-flex;
  text-align: left;
  align-items: center;
  padding: 0;
  margin: 1rem 0;
  color: var(--a-text-action);
  background: none;
  border: none;
  font-weight: 700;

  &:hover {
    color: var(--a-text-action);
    text-decoration: underline;
    background: none;
    border: none;
    cursor: pointer;
  }
}

.button_container {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}