.container_layout_oversikt {
  padding: 1rem;
  max-width: 1920px;
}

.container_layout_detaljer {
  padding: 1rem;
  max-width: 1920px;
  margin: 0 auto;

  @media (width > 1920px) {
    padding: 1rem 0;
  }
}
