.mulighetsrommet-veileder-flate {
  .regelverksinfo {
    display: grid;
    text-align: right;
    gap: 1rem;
  }

  @media (max-width: 1200px) {
    .regelverksinfo {
      display: grid;
      text-align: right;
      gap: 2rem;
    }
  }
}
