.mulighetsrommet-veileder-flate {
  .sidemeny-accordion .navds-accordion__header {
    padding: var(--navds-spacing-1);
  }

  .tiltakstype-detaljer {
    &__rad {
      display: flex;
      justify-content: space-between;
    }
  }
}
