.mulighetsrommet-veileder-flate {
  .sidemeny-accordion .navds-accordion__header {
    padding: var(--navds-spacing-1);
  }

  .tiltakstype-detaljer__sidemeny__tilbakemelding {
    background-color: var(--navds-semantic-color-divider) !important;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 1rem;
  }
}
