.maksbredde {
  max-width: 380px;
}

.rad {
  display: flex;
  justify-content: space-between;
  text-align: end;
  height: 40px;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (width <= 1200px) {
    margin-bottom: 0;
    padding: 0;

    :not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.info {
  display: flex;
  align-items: center;

  .kopiknapp {
    margin-left: 0.2rem;
  }
}
