.maksbredde {
  max-width: 380px;
}

.rad {
  display: flex;
  justify-content: space-between;
  min-height: 40px;
  margin-bottom: 8px;
  text-align: right;

  .tittel {
    font-weight: bolder;
    text-align: left;
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (width <= 1200px) {
    margin-bottom: 0;
    padding: 0;

    :not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  .tiltaksnummer {
    display: flex;
    align-items: start;
    justify-content: end;
    gap: 4px;
  }
}

.regelverk > * {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}
