.overstyrte_styles_fra_ds_modal {
  width: 40rem;
  padding: 1rem;
}

.modal_btngroup {
  display: flex;
  gap: 1rem;
  margin-top: 1.5rem;
  justify-content: space-between;
}

.muted {
  color: var(--a-text-subtle);
}

.mt_0 {
  margin-top: 0;
}
