.mulighetsrommet-veileder-flate {
  .navds-table {
    border: 1px solid var(--navds-semantic-color-border-muted);

    .row-btn {
      cursor: pointer;
    }

    &__sort-button {
      height: 4rem;
    }

    .tabell {
      &__tiltaksnavn {
        font-weight: bold;
      }

      &__kolonne {
        &__tiltaksnummer {
          width: 10%;
        }

        &__tiltaksnavn {
          width: 40%;
        }

        &__tiltakstype {
          width: 15%;
        }
      }

      &__alert {
        max-width: unset;
      }
    }
  }

  .navds-table__header,
  .navds-table--zebra-stripes,
  .navds-table__body,
  .navds-table__row:nth-of-type(even):not(:hover):not(.navds-table__row--selected) {
    background-color: var(--navds-semantic-color-canvas-background-light);
  }
}
