.mulighetsrommet-veileder-flate {
  .navds-table {
    border: 1px solid var(--navds-semantic-color-border-muted);
  }

  .tabell-tiltakstyper__tiltaksnummer {
    width: 10%;
  }

  .navds-table__header,
  .navds-table--zebra-stripes,
  .navds-table__body,
  .navds-table__row:nth-of-type(even):not(:hover):not(.navds-table__row--selected) {
    background-color: var(--navds-semantic-color-canvas-background-light);
  }
}
