.mulighetsrommet-veileder-flate {
  .navds-table {
    border: 1px solid var(--navds-semantic-color-border-muted);

    &__sort-button {
      height: 4rem;
    }

    .tabell {
      &__tiltaksnavn {
        font-weight: bold;
      }

      &__tiltaksnummer {
        display: grid;
        grid-template-columns: 10% auto;
      }

      &__kolonne {
        &__tiltaksnavn {
          width: 25%;
        }
      }

      &__alert {
        max-width: unset;
      }

      &__tilgjengelighetsstatus {
        display: flex;
        flex-direction: row;
        gap: 0.3rem;
        img {
          width: 1rem;
          height: 100%;
          align-self: center;
        }
      }
    }
  }

  .under-tabell {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }

  .navds-table__header,
  .navds-table--zebra-stripes,
  .navds-table__body,
  .navds-table__row:nth-of-type(even):not(:hover):not(.navds-table__row--selected) {
    background-color: var(--navds-semantic-color-canvas-background-light);
  }
  @media (max-width: 1200px) {
    .navds-table .tabell__tiltaksnummer {
      grid-template-columns: 40% auto;
    }
  }
}
