.utkast_liste_container {
  max-width: 1440px;
  margin-top: 0.5rem;
}

.liste {
  list-style: none;
  margin-top: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
  gap: 1rem;
}

.knappe_container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  align-items: end;
}
