.container {
  display: flex;
  flex-direction: column;
}

.input_container {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

@media (max-width: 900px) {
  .input_container {
    flex-wrap: wrap;
  }
}

.column {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form_group {
  width: 100%;
  padding-right: 2rem;
  margin-right: 2rem;
}

.button_row {
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.button {
  margin-left: 16px;
}

.grid {
  display: grid;
  gap: 1rem;
  align-items: start;

  &_1 {
    grid-template-columns: repeat(1, 1fr);
  }

  &_2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

.kontaktperson_container {
  background-color: var(--a-surface-selected);
  margin-top: 1rem;
  padding: 0.5rem;
  position: relative;
  border: 1px solid var(--a-border-divider);
  border-radius: 0.25rem;
}

.gray_container {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: #f1f1f1;
  padding: 0.5rem;
  border: 1px solid var(--a-border-divider);
  border-radius: 0.25rem;
}

.vertical_separator {
  background-color: var(--a-border-divider);
  width: 1px;
  border: none;
  margin: 0 1.5rem;
}

@media (max-width: 900px) {
  .vertical_separator {
    height: 1px;
    border: none;
    margin: 1.5rem 0;
    width: 100%;
  }
}
