.mulighetsrommet-veileder-flate {
  .statistikk {
    width: 40%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-right: 1px solid var(--navds-semantic-color-border-muted);
    padding: 0.5rem 2%;

    &__heading {
      display: flex;
      flex-direction: row;
      gap: 2rem;

      .navds-heading {
        font-weight: unset;
      }
    }

    .navds-body-short {
      font-size: 32px;
      line-height: unset;
    }
  }
}
