.mulighetsrommet-veileder-flate {
  .statistikk {
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-right: 1px solid var(--navds-semantic-color-border-muted);
    padding: 0.5rem 2% 0.5rem 0;

    &__heading {
      display: flex;
      flex-direction: row;
      gap: 2rem;

      .navds-heading {
        font-weight: unset;
      }
    }
      &__tekst {
        font-size: 30px;
        line-height: unset;
      }
  }
}
