root = true

[*]
disabled_rules = no-wildcard-imports
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_size = 4
indent_style = space

[*.{js,ts,tsx,json}]
indent_size = 2
indent_style = space
