root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_size = 4
indent_style = space

# Custom config to override `ktlint` defaults
ktlint_code_style = intellij_idea
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_function-expression-body = disabled
ktlint_standard_class-signature = disabled
ktlint_standard_function-signature = disabled

[*.{js,ts,tsx,json}]
indent_size = 2
indent_style = space
