# Env vars
.env
.envrc
*.tar.gz

# IDE's
.vscode
.idea

.kotlin

# Backend specific mumbojumbo
*.iml
*.log
bash.exe.stackdump
.gradle
build
**/.DS_Store
**/bin

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# npm
node_modules
npm-debug.log*

# Logs and task output from turborepo
.turbo

# Cache of project
.gradletasknamecache
docker-compose.override.yml

# Vite
# https://github.com/vitejs/vite/issues/13267
vite.config.*.timestamp-*

