# Env vars
.env
.envrc
*.tar.gz

# Backend specific mumbojumbo
*.iml
*.log
target/
bash.exe.stackdump
users.txt
.gradle
build/
.idea
**/.DS_Store
**/bin

# npm
node_modules
npm-debug.log*

# Logs and task output from turborepo
.turbo

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache
docker-compose.override.yml

dist

.vscode
frontend/mr-admin-flate/cypress/downloads/
