# Env vars
.env
.envrc
*.tar.gz

# IDE's
.vscode
.idea

.kotlin
# Backend specific mumbojumbo
*.iml
*.log
bash.exe.stackdump
.gradle
build
**/.DS_Store
**/bin

# Gradle
!gradle-wrapper.jar
.gradletasknamecache
gradle-app.setting

# npm
node_modules
npm-debug.log*

# Logs and task output from turborepo
.turbo

# Vite
# https://github.com/vitejs/vite/issues/13267
vite.config.*.timestamp-*

# If you need to override docker locally
docker-compose.override.yml

# For å unngå genererte test-pdf'er
*.pdf

.cursor
.cursor/rules
