.filter_container {
  display: flex;
  margin-bottom: 2rem;
  background-color: white;
  padding: 1rem;
  border-radius: 0.25rem;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;

  .filter_left {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
  }

  :global(.navds-form-field) {
    width: 15rem;
  }
}

.filter_right {
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
}
