@use "@navikt/ds-tokens/dist/tokens" as *;

:global(.navdsi-header) {
  flex-wrap: wrap;
}

.link {
  text-decoration: none;
  color: white;
}

.user {
  @media (min-width: $a-breakpoint-sm) {
    margin-left: auto;
  }
}
