@use "@navikt/ds-tokens/dist/tokens" as *;

:global(.navds-header) {
  @media (max-width: $a-breakpoint-md) {
    flex-wrap: wrap;
  }
}

.link {
  text-decoration: none;
  color: white;
}

.user {
  @media (min-width: $a-breakpoint-md) {
    margin-left: auto;
  }
}

.content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
