@use "@navikt/ds-tokens/dist/tokens" as *;

:global(.navdsi-header) {
  @media (max-width: $a-breakpoint-md) {
    flex-wrap: wrap;
  }
}

.link {
  text-decoration: none;
  color: white;
}

.user {
  @media (min-width: $a-breakpoint-md) {
    margin-left: auto;
  }
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}
