.root {
  display: flex;
  gap: var(--a-spacing-4);
  align-self: flex-start;
}

.sorting {
  display: flex;
  align-items: center;
  gap: var(--a-spacing-4);
}

.content {
  flex: 1;
}

.oppgaver {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--a-spacing-2);
  margin-top: var(--a-spacing-4);
}
