.tiltakstype-oversikt {
  display: grid;
  grid-template-columns: 15rem auto;
  grid-template-rows: minmax(4rem, min-content) auto;
  grid-gap: 1rem;
  min-height: 86vh;
  margin: 0 0.5rem;

  &__sidemeny {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .filtercontainer {
    grid-row: 1;
    display: flex;
    flex-direction: column;
    gap: .5rem;

    .filterknapp {
      margin-top: 1rem;
    }

    .filtertags {
      display: flex;
      justify-content: flex-start;
      gap: 1rem;
      height: fit-content;
      flex-wrap: wrap;
    }
  }

  &__tiltak {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 0 2rem;
  }

  &__tabell {
    grid-column: 2;
    grid-row: 3;
  }
}
