.tiltakstype-oversikt {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 4rem auto;
  grid-gap: 1rem;

  &__sidemeny {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .filterknapp {
    grid-row: 1;
  }

  &__tiltak {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 0.75rem;
  }

  &__tabell {
    grid-column: 2;
    grid-row: 2;
  }
}
