.main-view {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
  margin: 1rem auto;
  padding: 0 3rem;
  max-width: 85rem;
  &__header {
    display: flex;
    flex-direction: column;
    min-height: 3rem;
  }
  &__title {
    margin-bottom: 2rem;
  }
}
