.tiltakstype_oversikt {
  display: grid;
  grid-template-columns: 336px auto;
  grid-template-rows: minmax(auto, min-content) min-content auto;
  grid-gap: 1rem;
  min-height: 86vh;

  .filtertags_og_knapperad {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    grid-row: 1;
  }

  .knapperad {
    display: flex;

    button {
      color: black;

      :global(.navds-label) {
        display: flex;
        flex-direction: row;
        font-weight: lighter;
        gap: 2px;
        align-items: center;

        svg {
          margin: 0 auto;
          width: 1.5rem;
          height: auto;
        }
      }
    }
  }
}
