@import '~nav-frontend-core/less/core';

.tiltaksvarianter-oversikt-actions {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5rem;
  justify-content: space-between;

  .sokefelt-tiltaksvariant {
    width: 70%;
  }

  .opprett-ny-tiltaksvariant__knapp {
    height: fit-content;
    align-self: end;
  }
}

@media (max-width: 1000px) {
  .tiltaksvarianter-oversikt-actions {
    flex-direction: column;

    .sokefelt-tiltaksvariant {
      width: 100%;
      margin-bottom: 1rem;
    }
  }
}
