.tooltip_container {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;

  &_column {
    flex-direction: column;
  }

  &_row {
    flex-direction: row;
  }
}

.tooltip_color_icon {
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  border-radius: 50%;
}

.tooltip_data {
  &_text {
    display: block;
    padding: 2px 0px;
  }

  &_number {
    font-size: 16px;
    font-weight: bold;
    color: var(--a-text-on-inverted);
  }

  &_label {
    font-size: 14px;
    color: var(--a-gray-400);
  }
}
