<!DOCTYPE html>
<html lang="nb">

<head>
  <meta charset="UTF-8" />
  <title>Vedtak om tilskudd til opplæring</title>
  <description>Vedtak om tilskudd til opplæring for {{navn}}</description>
  <meta name="author" content="Nav" />
  {{> block-content/vedtak/vedtak-style}}
</head>

<body>
<div id="footer">
  <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</div>
{{> block-content/vedtak/header}}
<main>
  <h1>Vedtak om tilskudd til opplæring</h1>
  {{#each vedtak}}
  {{#if utfall}}
  {{#eq utfall "Innvilgelse"}}
    {{> block-content/vedtak/vedtakinnvilgelse }}
  {{else}}
    {{> block-content/vedtak/vedtakavslag }}
  {{/eq}}
  {{/if}}
  {{/each}}
  {{> block-content/vedtak/innsynsrett}}
  {{> block-content/vedtak/personopplysninger}}
  {{> block-content/vedtak/klagerett}}
  {{> block-content/vedtak/avsender}}
</main>
</body>

</html>
