.information {
  border: 1px solid rgba(54, 141, 168, 1);
  background-color: #ebfcff;
  padding: 1rem;
  border-radius: 4px;
  display: grid;
  grid-template-columns: repeat(50px, 1fr);
  .svg_info {
    margin-right: 0.5rem;
    width: 1.5rem;
    height: auto;
  }
}
