.information {
  border: 1px solid rgba(54, 141, 168, 1);
  background-color: #ebfcff;
  padding: 1rem;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  .svg_info {
    margin-right: 0.5rem;
    width: 1.5rem;
    height: auto;
  }
}
