.mulighetsrommet-veileder-flate {
  .tiltakstype-detaljer {
    &__info {
      grid-column: 1;
      grid-row: 2;
      display: grid;
      height: fit-content;
    }

    &__sidemeny {
      grid-row: 2;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      height: fit-content;
    }
  }
}
