.filter_table_layout_container {
  display: grid;
  grid-template-columns: var(--filter-width) auto;
  grid-template-rows: 3rem auto;
  grid-template-areas:
    "filter button"
    "filter table";

  .filter_headerbutton {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    grid-area: filter;
  }

  .filtertab {
    background-color: white;
    width: var(--filter-width);
  }

  .button_row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: var(--a-bg-subtle);
    padding-left: 0.5rem;
    grid-area: button;
  }

  .button_row_right {
    align-self: center;
  }

  .button_row_left {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
    grid-area: button;
  }

  .tags_and_table_container {
    grid-area: table;
    &_filter_hidden {
      grid-column: 1 / 3;
      padding-left: 0;
    }
  }

  .filter {
    z-index: 2;
    border-radius: 0.25rem;
    border: none;
    gap: 0;
    background-color: white;
    align-self: start;
    box-shadow: var(--a-shadow-medium);
    padding: 0.25rem;
    height: fit-content;
    width: 100%;
    position: sticky;
    top: 3rem;
    overflow-y: auto;
    max-height: 85vh;
    grid-area: filter;
  }

  .hide_filter {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    .filter {
      box-shadow: none;
    }
  }

  @media screen and (max-width: 1200px) {
    .tags_and_table_container_filter_open {
      .filtertags {
        margin-left: 21rem;
      }
    }

    .tags_and_table_container {
      grid-column: 1 / 3;
    }
  }
}
