:global(.mulighetsrommet-veileder-flate) {
  :global(.navds-accordion__header) {
    border-bottom: 1px solid var(--navds-semantic-color-divider);
    padding-left: 0;
  }

  :global(.navds-accordion__content) {
    border-bottom: 1px solid var(--navds-semantic-color-divider);
  }

  :global(.navds-accordion__item--open .navds-accordion__header) {
    background-color: initial;
  }

  .tiltakstype_oversikt_filtermeny {
    padding-left: 0.5rem;
    transition: top 0.2s ease 0s, max-height 0.2s ease 0s;
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .sokefelt {
    padding-bottom: 0.8rem;

    :global(.navds-body-short) {
      font-size: 1rem;
    }
  }

  .filtermeny_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  :global(.navds-accordion) {
    :global(.navds-heading--small) {
      font-size: 1rem;
      font-weight: bold;
    }

    :global(.navds-accordion__content) {
      padding: 0;
    }
  }
}
