.filtertag {
  height: 2rem;
  :global(.navds-button) {
    min-width: unset;
  }

  :global(.navds-button__inner) {
    justify-content: center;
  }

  :global(.navds-button).overstyrt_ikon_knapp {
    padding: var(--a-spacing-1) 0;
    margin-left: 0.4rem;

    &:hover {
      background-color: var(--a-surface-action-subtle-hover);
      height: 1.7rem;
    }
  }
}

.filtertags {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
  height: fit-content;
  flex-wrap: wrap;
  padding: 0.5rem 0.5rem 1rem;
  background-color: var(--a-gray-100);
  top: 3rem;
  position: sticky;
  &_filter_hidden {
    padding: 0.5rem 0.5rem 1rem 0;
  }
  &_filter_open {
    @media (max-width: 1450px) {
      margin-left: 20rem;
    }
  }
}
