:global(.mulighetsrommet-veileder-flate) {
  .historikk_knapp {
    padding: 0 0.3rem 0;
    display: inline-block;

    :global(.navds-label) {
      padding-top: 0.5rem;
    }

    svg {
      width: 1.5rem;
      height: auto;
      color: black;
    }
  }
}
