.historikk-for-bruker {
    color: var(--navds-global-color-semantic-text);
    padding-bottom: 10rem;

    .historikk-text-content {
        margin: 0;
    }

    .historikk-datoer {
        width: 100%;
        display: grid;
        grid-template-columns: 5rem 1rem 5rem;
        grid-gap: 5px;
        text-align: center;
    }

    .historikk-for-bruker-liste {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .historikk-for-bruker-heading {
        margin: 1rem 0rem 0rem 0rem;
    }
    
    .historikk-for-bruker-element {
        border-bottom: 2px solid var(--navds-semantic-color-border-inverted);
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    .historikk-for-bruker-metadata {
        color: var(--navds-semantic-color-text-muted);
        min-width: 150px;
        display: grid;
        grid-gap: 2rem;
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 1rem;
        margin-top: 0.2rem;
    }

    .historikk-for-bruker-statusbadge {
        display: inline-block;
        text-align: center;
        border-radius: 5%;
        padding: 0.2rem;
        font-size: 0.8rem;
    }

    
    
    
    .historikk-for-bruker-statusbadgde-farge {
        &-AVSLUTTET {
            background: var(--navds-global-color-gray-100);
            color: var(--navds-global-color-gray-800);
            
        }
        
        &-DELTAR {
            background: var(--navds-global-color-green-100);
            color: var(--navds-global-color-green-800);
            
        }
        
        &-IKKE_AKTUELL {
            background: var(--navds-global-color-red-100);
            color: var(--navds-global-color-red-900);
            
        }
        
        &-VENTER {
            background: var(--navds-global-color-lightblue-100);
            color: var(--navds-global-color-lightblue-800);
            
        }
    }
}

.historikk-modal {
    width: 50rem;
    max-width: 70%;
}