.mulighetsrommet-veileder-flate {
  max-width: 1920px;
  min-height: 30vh;
  margin: 0 auto 0;
  scroll-behavior: smooth !important;
  width: 100%;
  background-color: var(--navds-semantic-color-canvas-background);

  .remove-link-style {
    text-decoration: none;
    color: black;
  }
}
