.app__container {
  background-color: var(--navds-semantic-color-canvas-background);
}

.mulighetsrommet-veileder-flate {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto 0;
  scroll-behavior: smooth !important;
  width: 100%;
  padding: 0 0.5rem;
}
