.app_container {
  background-color: var(--navds-semantic-color-canvas-background);
}

:global(.mulighetsrommet-veileder-flate) {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  scroll-behavior: smooth;
  width: 100%;
  padding-right: 0.5rem;
  font-size: 16px;
}
