.app_container {
  background-color: var(--a-bg-subtle);
  min-height: 86vh;
}

:global(.mulighetsrommet-veileder-flate) {
  max-width: 1920px;
  height: 100%;
  margin: 0 auto;
  scroll-behavior: smooth;
  width: 100%;
  padding: 12px 0.5rem;
  font-size: 16px;

  :global(.navds-alert__wrapper) {
    max-width: none;
  }
}

.lowercase {
  text-transform: lowercase;
}

.svg_success {
  color: var(--a-green-600);
}

.svg_warning {
  color: var(--a-orange-600);
}

.svg_error {
  color: var(--a-nav-red);
}

.svg_info {
  color: var(--a-lightblue-700);
}
