/* Global styles extracted from modules */

/* From FilterToggle.module.scss */
.aksel-accordion__content {
  padding: 0 0.5rem 0.5rem 0.5rem;
}

/* From PameldingKometApnerSnart.module.scss */
.overwritten_poster .aksel-guide {
  background-color: var(--ax-bg-success-soft);
  border-color: var(--ax-border-success);
  padding: 10px;
}

.overwritten_poster .aksel-guide-panel__content {
  border-color: var(--ax-border-success);
}

/* From ViewTiltakDetaljer.module.scss */
.sidemeny .aksel-tabs__tab[aria-selected="true"] {
  background-color: var(--ax-neutral-200);
}

.sidemeny .aksel-tabs__tabpanel {
  border-top: 1px solid var(--ax-neutral-400);
}

.aksel-panel {
  padding: 1.5rem;
  background-color: var(--ax-neutral-200);
}

.aksel-tabs__tablist-wrapper {
  box-shadow: unset;
}

/* From Kopiknapp.module.scss */
.aksel-button.kopiknapp .aksel-button--tertiary:hover {
  background-color: transparent;
}
