@import "tailwindcss";
@import "@navikt/ds-css" layer(components);
@config "../tailwind.config.ts";

/* Modia appen bruker shadow dom da funker ikke :root så
 * vi dupliserer variablene her og legger de rett på div'en
 * som wrapper appen.
 */
#mulighetsrommet-arbeidsmarkedstiltak {
  --filter-width: 320px;
}

:root {
  --filter-width: 320px;
}
/* Globale stiler fra Aksel */
@import "@navikt/ds-css/dist/global/fonts.css";
@import "@navikt/ds-css/dist/global/tokens.css";
@import "@navikt/ds-css/dist/global/reset.css";
@import "@navikt/ds-css/dist/global/baseline.css";
@import "@navikt/ds-css/dist/global/print.css";

/* Import global styles directly */
@import "./global-styles.css";
