/* Modia appen bruker shadow dom da funker ikke :root så
 * vi dupliserer variablene her og legger de rett på div'en
 * som wrapper appen.
 */
#mulighetsrommet-arbeidsmarkedstiltak {
    --filter-width: 320px;
}

:root {
    --filter-width: 320px;
}
