:global(.navds-button).ikonknapp {
  width: fit-content;
  color: black;

  &:hover {
    box-shadow: none;
  }

  &:focus {
    box-shadow: none;
  }

  &:active {
    background-color: transparent;
    box-shadow: none;
    color: var(--a-text-action);
  }
}
