.feilmelding-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: white;
    padding: 2rem;
    width: 670px;
    min-height: 180px;
    margin: auto;
    margin-top: 2rem;

    p {
        margin-top: 0;
    }
}

.button-as-link {
    border: none;
    background: none;
    color: var(--navds-semantic-color-interaction-primary);
  
    &:hover {
        text-decoration: underline;
        cursor: pointer;
    }
  }