.feilmelding_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  padding: 2rem;
  width: 670px;
  min-height: 180px;
  margin: 2rem auto auto;
  text-align: center;
  gap: 0.5rem;

  :global(svg) {
    width: 2rem;
    height: auto;
  }
}
