.feilmelding_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: white;
  width: 670px;
  text-align: center;
  gap: 0.5rem;
  padding-left: 5rem;
  padding-right: 5rem;

  .header {
    font-weight: 600;
  }

  .beskrivelse {
    line-height: 1.5rem;
  }

  :global(svg) {
    width: 2rem;
    height: auto;
  }
}

.feilmelding_margin {
  margin: 2rem auto auto;
  padding: 2rem 5rem;
  min-height: 180px;
}
