.mulighetsrommet-veileder-flate {
  .fakedoor-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 0 3rem 4rem;
    width: 70%;
    margin: 2rem auto;
    min-width: 20rem;
    max-width: 75rem;
    background: #0067C5;
    border-radius: 10px;
  }

  .fakedoor-text-container {
    color: white;
    width: 60%;
    min-width: 500px;
  }

  .fakedoor-header {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .fakedoor-link {
    color: white;
  }

  .fakedoor-image {
    overflow: hidden;
  }
}
