.mulighetsrommet-veileder-flate {
  .fakedoor-container {
    align-items: center;
    padding: 3rem 0 3rem 4rem;
    width: 70%;
    margin: 2rem auto;
    min-width: 300px;
    max-width: 100rem;
    background: #0067C5;
    border-radius: 10px;
  }

  .fakedoor-text-container {
    color: white;
    width: 50%;
  }

  .fakedoor-header {
    font-size: 1.5rem;
    font-weight: 600;
  }

  .fakedoor-link {
    color: white;
  }
}
