.mulighetsrommet-veileder-flate {
  .fakedoor-container {
    /* Auto layout */
    align-items: center;
    padding: 48px 0px 48px 64px;
    gap: 72px;

    position: absolute;
    width: 70%;
    height: 458px;
    left: 164px;
    top: 192px;

    /* Semantic/link */
    background: #0067C5;
    border-radius: 10px;
  }

  .fakedoor-header {
    color: white;
    width: 50%;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .fakedoor-text {
    color: white;
    font-weight: 10;
  }
}
