.adminflate_container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 1280px;

  @media (width <= 1280px) {
    margin: 0 1rem;
  }
}

.hero {
  background: var(--a-deepblue-800);
  padding: 4rem;
  min-height: 15rem;
  width: 100%;
  margin-bottom: 1.5rem;
}

.title {
  color: white;
  padding: 0;
  margin: 0;
}
