html {
  background-color: var(--a-bg-subtle);
}

.error {
  padding: 1rem;
}

.error-link {
  display: block;
  margin-top: 1rem;
}

/* Siden vi ønsker en custom read-only styling (gråa ut) overstyrer noen av
 * navds sine read-only stylinger */
.navds-textarea__input:read-only {
  background-color: #f1f1f1;
  border-color: #0000001a;
}

:root {
  --filter-width: 320px;
}
