@import "tailwindcss/base";
@import "@navikt/ds-css";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  background-color: var(--a-bg-subtle);
}

.error {
  padding: 1rem;
}

.error-link {
  display: block;
  margin-top: 1rem;
}

:root {
  --filter-width: 320px;
}
