@import "tailwindcss";
@import "@navikt/ds-css" layer(components);
@config "../tailwind.config.ts";

html {
  background-color: var(--ax-bg-sunken);
}

.error {
  padding: 1rem;
}

.error-link {
  display: block;
  margin-top: 1rem;
}

:root {
  --filter-width: 320px;
}
