.filter_table_layout_container {
  display: grid;
  grid-template-columns: var(--filter-width) auto;
  grid-template-rows: 3rem auto;

  .tags_and_table_container {
    grid-row: 2;
    grid-column: 2 / 3;
    @media (max-width: 1450px) {
      grid-column: 1 / 3;
    }
  }

  .tags_and_table_container_filter_hidden {
    grid-column: 1 / 3;
  }

  .button_row_left {
    align-self: center;
  }

  .button_row_right {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-bottom: 1rem;
    margin-top: 0.5rem;
  }
}
