.detaljer {
  background: white;
  padding: 1rem;
  width: 40rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  dt,
  dd {
    padding: 0;
    margin: 0;
  }

  dt {
    font-weight: bold;
  }

  dd {
    margin-bottom: 1rem;
  }
}
