.delemodal {
  background-color: red;

  &_tilbakemelding {
    text-align: center;

    .modal_btngroup {
      justify-content: space-around;
    }
  }

  &_svg {
    width: 3rem;
    height: auto;
    align-self: center;
  }

  .btn_row button {
    margin-right: 1rem;
  }
}

.textarea {
  margin-top: 1rem;
}
