.delemodal {
  &_tilbakemelding {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .modal_btngroup {
      justify-content: space-around;
    }
  }

  .feilmeldinger {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }

  &_svg {
    width: 3rem;
    height: auto;
    align-self: center;
  }

  .btn_row button {
    margin-right: 1rem;
  }
}

.textarea {
  margin-top: 1rem;
}
