.delemodal {
  background-color: #f7f7f7;

  &_tilbakemelding {
    text-align: center;

    .modal_btngroup {
      justify-content: space-around;
    }
  }

  &_svg {
    width: 3rem;
    height: auto;
    align-self: center;
  }
}
