.varselmodal {
  width: 31rem; //må være 31rem pga knappen "Ja, jeg vil avbryte gjennomføringen"

  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    .icon {
      width: 3rem;
      height: auto;
      align-self: center;
      &_warning {
        color: var(--ax-text-warning-subtle);
      }
      &_error {
        color: var(--ax-text-danger-subtle);
      }
      &_info {
        color: var(--ax-text-info-subtle);
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }

  .error {
    color: var(--ax-text-danger-subtle);
    font-size: 16px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
