.gjennomforingsliste_container {
  .gjennomforingsliste {
    overflow-y: auto;
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 30rem;
  }

  .gjennomforingsliste_headers,
  .gjennomforingsliste_element {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    border-bottom: 1px solid var(--a-border-divider);
    padding: 1rem;
    align-items: center;
    gap: 0.5rem;
  }

  .gjennomforingsliste_headers {
    p {
      font-weight: bold;
    }
  }
}
