.container {
  margin: 1rem 0;
}

.liste {
  list-style: none;
  margin: 1rem 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(30rem, 1fr)
  );
  gap: 1rem;
}
