.list_element {
  list-style: none;
}

.rad {
  display: grid;
  grid-template-columns: 2fr 2fr 1%;
  background-color: white;
  margin-bottom: 0.25rem;
  padding: 2rem 1rem;
  border-radius: 0.25rem;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: black;
  text-decoration: none;

  &:hover {
    background-color: var(--a-gray-50);
  }
}

.pil {
  color: #0067c5;
}

.dato {
  display: flex;
  gap: 1.5rem;
}
