.container {
  width: 40rem;
}

.detaljer {
  background: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  @media (width <= 1200px) {
    width: 100%;
  }

  .bolk {
    display: grid;
    grid-template-columns: repeat(auto-fit, 50%);
    grid-row-gap: 2rem;
    margin: 1rem 0;
  }
}

.knapperad {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.slett_knapp {
  color: var(--a-text-danger);
}
