.info_container {
  padding: 1.5rem;
  background: white;
  max-width: 1440px;
}

.red_innhold_container {
  margin: 1rem;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  max-width: 1440px;
  background: white;
}

.detaljer {
  padding: 1rem;
  display: flex;
  flex-direction: column;

  &:first-of-type {
    border-right: 1px solid var(--a-border-divider);
  }

  @media (width <= 1700px) {
    width: 100%;
  }
}

.knapperad {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  grid-area: knapperad;
  margin: 1rem;
  gap: 0.5rem;
}

.slett_knapp {
  color: var(--a-text-danger);

  &:hover {
    color: var(--a-text-danger);
    background-color: var(--a-surface-danger-subtle);
  }

  &:active {
    color: var(--a-white);
    background-color: var(
      --a-surface-danger-active
    ) !important; //siden dette er en hacket komponent
  }
}

.leverandor_kontaktinfo {
  display: flex;
  flex-direction: column;
}
