.info_container {
  padding: 1.5rem;
  background: white;
  max-width: 1440px;
}

.red_innhold_container {
  margin: 1rem;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  max-width: 1440px;
  background: white;
  .detaljer {
    flex-grow: 1;
    flex-basis: 0;
    padding: 1rem;
    display: flex;
    flex-direction: column;

    &:first-of-type {
      border-right: 1px solid var(--a-border-divider);
    }

    @media (width <= 1700px) {
      width: 100%;
    }
  }
}

.knapperad {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  grid-area: knapperad;
  gap: 0.5rem;
}

.slett_knapp {
  color: var(--a-text-danger);

  &:hover {
    color: var(--a-text-danger);
    background-color: var(--a-surface-danger-subtle);
  }

  &:active {
    color: var(--a-white);
    background-color: var(
      --a-surface-danger-active
    ) !important; //siden dette er en hacket komponent
  }
}

.leverandor_kontaktinfo_container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.leverandor_kontaktinfo {
  display: flex;
  flex-direction: column;
}

.faneinnhold_container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.lokal_informasjon {
  background-color: var(--a-gray-100);
  margin: 1rem 0rem 1rem 0rem;
  border-top: 1px solid var(--a-border-divider);
  border-bottom: 1px solid var(--a-border-divider);
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.preWrap {
  white-space: pre-wrap;
}
