.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: var(--a-breakpoint-xl);
  grid-template-areas:
    "venstre hoyre"
    "knapperad knapperad";
}

.detaljer {
  background: white;
  padding: 1rem;
  display: flex;
  flex-direction: column;

  &:first-of-type {
    border-right: 1px solid var(--a-border-divider);
  }

  @media (width <= 1700px) {
    width: 100%;
  }
}

.knapperad {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  grid-area: knapperad;
}

.slett_knapp {
  color: var(--a-text-danger);
}

.leverandor_kontaktinfo {
  display: flex;
  flex-direction: column;
}
