.header_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1rem 0;
  border-bottom: solid 1px var(--a-border-divider);
}

.opprettknappseksjon {
  text-align: right;
  text-decoration: none;
}

.pagination {
  padding-bottom: 24px;
}
