.header_container {
  background-color: var(--a-white);

  &_border {
    border-bottom: solid 1px var(--a-border-divider);
  }

  .header_wrapper {
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }

  &_tabs {
    border-bottom: solid 1px var(--a-border-divider);
    background-color: var(--a-white);

    :global(.navds-tabs__tablist-wrapper) {
      max-width: 1920px;
      margin: 0 auto;
      padding-left: 0.5rem;
      box-shadow: none;
    }
  }
}
.header {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.list {
  padding-left: 0.5rem;
  width: 1920px;
  display: flex;
  justify-items: start;
  margin: 0 auto;

  @media (width > 1930px) {
    padding-left: 0;
  }
}

:global(.navds-tabs__tablist-wrapper) {
  background-color: var(--a-white);
  width: 100%;
}
