.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 4rem;
  max-width: 50rem;
}

.cta_link {
  background-color: var(--a-surface-action);
  color: white;
  text-decoration: none;
  display: inline-flex;
  padding: 20px 12px;
  border-radius: 0.2rem;
  align-items: center;
  height: 48px;

  &:focus-visible {
    box-shadow:
      inset 0 0 0 1px
        var(
          --ac-button-primary-focus-border,
          var(--__ac-button-primary-focus-border, var(--a-surface-default))
        ),
      var(--a-shadow-focus);
  }
}

.info {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 0.5rem;
}

.tom_eske_img {
  width: 130px;
  height: 90px;
}
