<div class="avsender">
  <p>Med vennlig hilsen</p>
    <div class="avsender_navn">
      <p>{{saksbehandler.navn}}</p>
          <p>{{beslutter.navn}}</p>
    </div>
    <br />
    <p>{{avsender.enhet}}</p>
</div>
