<section>
  <h2>Du har rett til innsyn i saken din</h2>

  <p>Du har rett til å se dokumentene i saken din. Dette følger av forvaltningsloven § 18. Kontakt oss om du vil se
    dokumentene i saken din. Ta kontakt på <a href="https://www.nav.no/kontakt">nav.no/kontakt</a> eller på telefon 55
    55 33 33. Du kan lese mer om innsynsretten på <a href="https://www.nav.no/personvernerklaering">nav.no/personvernerklaering</a>.
  </p>
</section>
