<section>
  <h2>Du har rettigheter knyttet til personopplysningene dine</h2>

  <p>Du finner informasjon om hvordan Nav behandler personopplysningene dine, og hvilke rettigheter du har, på  <a href="https://www.nav.no/personvernerklaering">nav.no/personvernerklaering</a>.</p>
  <p>Nav kan veilede deg på telefon 55 55 33 33 om hvordan Nav behandler personopplysninger.</p>
</section>
