:global(.mulighetsrommet-veileder-flate) {
  .kontaktinfo_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 1rem 0;
    gap: 3rem;

    @media (max-width: 1200px) {
      justify-content: space-evenly;
    }
  }

  .header {
    margin-bottom: 1rem;
    text-decoration: underline;
  }
}
