:global(.mulighetsrommet-veileder-flate) {
  .kontaktinfo {
    display: flex;
    margin: 1rem 0;

    @media (max-width: 1200px) {
      justify-content: space-evenly;
    }
  }

  .header {
    margin-bottom: 1rem;
    text-decoration: underline;
  }
}
