.kontaktinfo {
  display: grid;
  margin: 18px 0;
  grid-template-columns: auto auto;
  gap: 2rem;
  &__header {
    margin-bottom: 0.5rem;
  }

  &__container {
    margin-bottom: 1rem;
  }
  &__navn {
    margin-bottom: 0.2rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__rad {
    display: grid;
    grid-template-columns: 6rem auto;
  }
}
