.mulighetsrommet-veileder-flate {
  .kontaktinfo {
    display: grid;
    margin: 18px 0px;
    grid-template-columns: auto auto;
    gap: 2rem;
    &__header {
      margin-bottom: 0.5rem;
    }
    &__navn {
      margin-bottom: 0.2rem;
    }
    &__container {
      display: flex;
      flex-direction: column;
    }
    &__rad {
      display: grid;
      grid-template-columns: 6rem auto;
    }
  }
}
