.tabell_wrapper {
  background-color: var(--a-white);
  border-radius: 4px;
  margin: 0.5rem 0 2rem 0.5rem;
  border: 1px solid var(--a-gray-200);

  @media screen and (max-width: 1200px) {
    margin: 1rem 0 2rem 0;
  }

  &_filter_hidden {
    margin: 0.5rem 0 2rem 0;
  }

  .tabell {
    background-color: var(--a-white);
  }

  .title {
    text-decoration: underline;
  }
}

.tiltakstypetabell {
  margin: 0;
}

.avtaletabell_toolbar_container {
  flex-direction: row;
}
