.tabell_wrapper {
  background-color: white;
  padding: 8px 16px;
  border-radius: 4px;
  margin-bottom: 2rem;

  .tabell {
    background-color: white;
    margin: .5rem 0;
  }

  .title {
    text-decoration: underline;
  }

  :global(.navds-table__row) {
    display: grid;
  }

  .tiltaksgjennomforing_tabellrad {
    grid-template-columns: 3fr 1fr 3fr 3fr repeat(3, 1fr);
  }

  .tiltakstype_tabellrad {
    grid-template-columns: 3fr repeat(3, 1fr);
  }

  .avtale_tabellrad {
    grid-template-columns: 3fr 2fr 2fr repeat(3, 1fr);
  }
}
