.tabell_wrapper {
  background-color: var(--a-white);
  padding: 1rem;
  border-radius: 4px;
  margin: 1rem 0 2rem;

  .tabell {
    background-color: var(--a-white);
    margin: 0.5rem 0;
  }

  .title {
    text-decoration: underline;
  }
}

.tiltakstypetabell,
.avtaletabell {
  :global(.navds-table__row) {
    display: grid;
  }

  .tiltakstype_tabellrad {
    grid-template-columns: 3fr repeat(3, 1fr);
  }

  .avtale_tabellrad {
    grid-template-columns: 3fr 2fr 2fr repeat(3, 1fr);
  }
}

.tabell_topp_container {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
  gap: 0.8rem;
}
