server:
  port: 8080
  host: 0.0.0.0

app:
  database:
    host: ${DB_HOST}
    port: ${DB_PORT}
    name: ${DB_DATABASE}
    user: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    maximumPoolSize: 10
    migrationConfig:
      strategy: Migrate

  kafka:
    producerId: mulighetsrommet-api-kafka-producer.v1
    consumerGroupId: mulighetsrommet-api-kafka-consumer.v1
    producers:
      tiltaksgjennomforinger:
        topic: team-mulighetsrommet.siste-tiltaksgjennomforinger-v1
      tiltakstyper:
        topic: team-mulighetsrommet.siste-tiltakstyper-v1
    consumers:
      amtDeltakerV1:
        id: amt-deltaker
        topic: amt.deltaker-v1

  auth:
    azure:
      issuer: ${AZURE_OPENID_CONFIG_ISSUER}
      jwksUri: ${AZURE_OPENID_CONFIG_JWKS_URI}
      audience: ${AZURE_APP_CLIENT_ID}
      tokenEndpointUrl: ${AZURE_OPENID_CONFIG_TOKEN_ENDPOINT}

  sanity:
    dataset: ${SANITY_DATASET}
    projectId: ${SANITY_PROJECT_ID}
    authToken: ${SANITY_AUTH_TOKEN}

  swagger:
    enable: true

  veilarbvedtaksstotteConfig:
    url: https://veilarbvedtaksstotte.dev-fss-pub.nais.io/veilarbvedtaksstotte/api
    scope: api://dev-fss.pto.veilarbvedtaksstotte/.default

  veilarboppfolgingConfig:
    url: https://veilarboppfolging.dev-fss-pub.nais.io/veilarboppfolging/api
    scope: api://dev-fss.pto.veilarboppfolging/.default

  veilarbpersonConfig:
    url: https://veilarbperson.dev-fss-pub.nais.io/veilarbperson/api
    scope: api://dev-fss.pto.veilarbperson/.default

  veilarbveilederConfig:
    url: https://veilarbveileder.dev-fss-pub.nais.io/veilarbveileder/api
    scope: api://dev-fss.pto.veilarbveileder/.default

  veilarbdialogConfig:
    url: https://veilarbdialog.dev-fss-pub.nais.io/veilarbdialog/api
    scope: api://dev-fss.pto.veilarbdialog/.default

  poaoTilgang:
    url: http://poao-tilgang.poao
    scope: api://dev-gcp.poao.poao-tilgang/.default

  amtEnhetsregister:
    url: http://amt-enhetsregister.amt
    scope: api://dev-gcp.amt.amt-enhetsregister/.default

  msGraphConfig:
    url: https://graph.microsoft.com
    scope: https://graph.microsoft.com/.default

  arenaAdapter:
    url: http://mulighetsrommet-arena-adapter
    scope: api://dev-gcp.team-mulighetsrommet.mulighetsrommet-arena-adapter/.default

  tasks:
    synchronizeNorgEnheter:
      delayOfMinutes: 360  # Hver 6. time
    synchronizeTilgjengelighetsstatuser:
      cronExpression: '*/30 6-18 * * *'

  norg2:
    baseUrl: https://norg2.dev-fss-pub.nais.io/norg2/api/v1

  slack:
    token: ${SLACK_TOKEN}
    channel: "#team-valp-monitoring"
    enable: true
