server:
  port: 8080
  host: 0.0.0.0

app:
  database:
    host: localhost
    port: 5442
    name: mulighetsrommet-api-db
    user: valp
    password: valp
    maximumPoolSize: 10
    migrationConfig:
      strategy: Migrate
      # Kan kjøres når du må kjøre flyway repair
      # strategy: RepairAndMigrate

  migrerteTiltak:
    - ARBFORB
    - ARBRRHDAG
    - AVKLARAG
    - DIGIOPPARB
    - GRUFAGYRKE
    - GRUPPEAMO
    - INDOPPFAG
    - JOBBK
    - VASV

  kafka:
    brokerUrl: localhost:29092
    producerId: mulighetsrommet-api-kafka-producer.v1
    consumerGroupId: mulighetsrommet-api-kafka-consumer.v1
    producers:
      arenaMigreringTiltaksgjennomforinger:
        topic: arena-migrering-tiltaksgjennomforinger-v1
      tiltaksgjennomforinger:
        topic: siste-tiltaksgjennomforinger-v1
      tiltakstyper:
        topic: team-mulighetsrommet.siste-tiltakstyper-v1
    consumers:
      tiltaksgjennomforingerV1:
        id: siste-tiltaksgjennomforinger
        topic: team-mulighetsrommet.siste-tiltaksgjennomforinger-v1
      amtDeltakerV1:
        id: amt-deltaker
        topic: amt-deltaker-v1
      amtVirksomheterV1:
        id: amt-virksomheter
        topic: amt.virksomheter-v1
      ptoSisteOppfolgingsperiodeV1:
        id: pto-virksomheter
        topic: pto.siste-oppfolgingsperiode-v1

  auth:
    azure:
      issuer: http://localhost:8081/azure
      jwksUri: http://localhost:8081/azure/jwks
      audience: mulighetsrommet-api
      tokenEndpointUrl: http://localhost:8081/azure/token
    roles:
      # Mocket 0000-GA-TILTAK-ANSVARLIG
      - adGruppeId: 52bb9196-b071-4cc7-9472-be4942d33c4b
        rolle: TILTAKADMINISTRASJON_GENERELL
      # Mocket 0000-ZA-TILTAK-avtaler_skriv
      - adGruppeId: 48026f54-6259-4c35-a148-bc4257bcaf03
        rolle: AVTALER_SKRIV
      # Mocket 0000-ZA-TILTAK-tiltaksgjennomforinger_skriv
      - adGruppeId: 279039a0-39fd-4860-afdd-a1a2ccaa6323
        rolle: TILTAKSGJENNOMFORINGER_SKRIV
      # 0000-GA-TILTAK-ENDRINGSMELDING
      - adGruppeId: d9f317a1-2444-4fcd-b696-df8dbd6cc942
        rolle: TILTAKADMINISTRASJON_ENDRINGSMELDING

  sanity:
    dataset: test
    projectId: xegcworx
    token: ${SANITY_AUTH_TOKEN:-}
    useCdn: false

  veilarbvedtaksstotteConfig:
    url: http://localhost:8090/veilarbvedtaksstotte/api
    scope: default

  veilarboppfolgingConfig:
    url: http://localhost:8090/veilarboppfolging/api
    scope: default

  veilarbpersonConfig:
    url: http://localhost:8090/veilarbperson/api
    scope: default

  veilarbveilederConfig:
    url: http://localhost:8090/veilarbveileder/api
    scope: default

  veilarbdialogConfig:
    url: http://localhost:8090/veilarbdialog/api
    scope: default

  poaoTilgang:
    url: http://localhost:8090/poao-tilgang
    scope: default

  msGraphConfig:
    url: http://localhost:8090/ms-graph
    scope: default

  arenaAdapter:
    url: http://0.0.0.0:8084
    scope: default

  amtDeltakerConfig:
    url: http://localhost:8090/amt-deltaker
    scope: default

  axsys:
    url: https://axsys.dev-fss-pub.nais.io # TODO Url for wiremock for axsys
    scope: default # TODO scope for wiremock for axsys

  pdl:
    url: http://localhost:8090/pdl
    scope: default


  tasks:
    deleteExpiredTiltakshistorikk:
      disabled: true
    synchronizeNorgEnheter:
      disabled: true
      delayOfMinutes: 360 # Hver 6. time
    synchronizeNavAnsatte:
      disabled: true
      cronPattern: "0 */1 * * * *" # Hvert 1 minutt
    notifySluttdatoForGjennomforingerNarmerSeg:
      disabled: true
      cronPattern: "0 */1 * * * *" # Hvert 1 minutt
    notifySluttdatoForAvtalerNarmerSeg:
      disabled: true
      cronPattern: "0 */1 * * * *" # Hvert 1 minutt
    notifyFailedKafkaEvents:
      disabled: true
      maxRetries: 5
      delayOfMinutes: 15
    oppdaterMetrikker:
      disabled: true
      delayOfMinutes: 1
    updateApentForInnsok:
      disabled: true
      cronPattern: "0 */1 * * * *" # Hvert 1 minutt


  norg2:
    baseUrl: https://norg2.dev-fss-pub.nais.io/norg2/api/v1

  brreg:
    baseUrl: https://data.brreg.no/enhetsregisteret/api

  slack:
    token: ${SLACK_TOKEN:-}
    channel: "#team-valp-monitoring"
    enable: false

  unleash:
    appName: mulighetsrommet-api
    url: ${UNLEASH_SERVER_API_URL:-http://localhost:8090/unleash}
    token: ${UNLEASH_SERVER_API_TOKEN:-}
    instanceId: mulighetsrommet-api
    environment: development
