:global(#mulighetsrommet-arbeidsmarkedstiltak .navds-panel) {
  background-color: var(--a-surface-default);
}

.deltarStatus {
  //  Overstyrer bakgrunnsfargen for deltar-status siden den skal være hvit
  background-color: var(--a-surface-default);
  border: 1px solid var(--a-border-default);
}

.utkast {
  border: 2px dashed var(--a-border-info);
}
.kladd {
  border: 2px dashed var(--a-border-warning);
}
.tertiary_link {
  text-align: center;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
