:global(#mulighetsrommet-arbeidsmarkedstiltak .navds-panel) {
  background-color: var(--a-surface-default);
}

.panel {
  background-color: var(--a-surface-default);
  border: none;
  max-width: 50rem;
}

.deltarStatus {
  //  Overstyrer bakgrunnsfargen for deltar-status siden den skal være hvit
  background-color: var(--a-surface-default);
}
