.historikk_knapp {
  :global(.navds-label) {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
  }

  svg {
    margin: 0 auto;
    width: 1.5rem;
    height: auto;
  }
}

.historikk_modal {
  min-width: 40rem;
  width: 50rem;
  max-width: 70%;
}

.historikk_for_bruker {
  &_liste {
    list-style: none;
    padding: 0;
    margin: 0;
    color: var(--navds-global-color-semantic-text);
  }

  &_listeelement {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: .5rem 0 .5rem 0;
    border-bottom: 1px solid #b8b8b8;
  }

  &_data {
    display: flex;
    flex-direction: column;
  }

  &_arrangor_tiltakstype {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
  }

  &_tiltakstype,
  &_arrangor {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &_tiltakstype {
    max-width: 17rem;
  }

  &_arrangor {
    max-width: 10rem;
  }

  &_status_dato {
    display: flex;
    flex-direction: column;

    .historikk_datoer {
      display: grid;
      grid-template-columns: 5rem 1rem 5rem;
      grid-gap: 5px;
      text-align: center;
      margin: 0;
    }
  }
}
