.historikk_for_bruker_statusbadge {
  text-align: center;
  border-radius: 3px;
}

.AVSLUTTET {
  background: var(--a-gray-100);
  border: 1px solid var(--a-gray-800);
}

.DELTAR {
  background: var(--a-green-100);
  border: 1px solid var(--a-green-800);
}

.IKKE_AKTUELL {
  background: var(--a-red-100);
  border: 1px solid var(--a-red-700);
}

.VENTER {
  background: var(--a-lightblue-100);
  border: 1px solid var(--a-lightblue-800);
}
