.tiltakstype-oversikt {
  display: grid;
  grid-template-columns: 15rem auto;
  grid-template-rows: minmax(4rem, min-content) auto auto;
  grid-gap: 1rem;
  min-height: 86vh;
  margin: 0 1rem;

  &__filtermeny {
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .filtercontainer {
    grid-row: 1;
    display: flex;
    flex-direction: row;
    gap: .5rem;

    .filterknapp {
      margin-top: 1rem;
    }

    .filtertags {
      display: flex;
      justify-content: flex-start;
      gap: 1rem;
      height: fit-content;
      flex-wrap: wrap;
      align-self: end;
    }
  }

  &__tiltak {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin: 0 0 2rem;
  }

  &__tabell {
    grid-column: 2;
    grid-row: 3;
  }

  .navds-alert {
    max-width: fit-content;
    padding-right: .2rem;

    &__wrapper {
      display: flex;
      align-items: center;
      gap: 1rem;

      .navds-button {
        padding-top: 0;
        padding-bottom: 0;

      }
    }
  }
}
