.main-view {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: auto auto;
  grid-gap: 1rem;
  margin: 1rem auto;
  padding: 0 3rem;
  max-width: 85rem;
  &__header {
    display: flex;
    flex-direction: column;
    min-height: 3rem;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }
  &__title {
    margin-bottom: 2rem;
  }

  &__content {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
