.navds-modal {
  width: 40rem;
  padding: 1rem;
  .navds-heading {
    margin-right: 1rem;
  }
}
.tilbakemeldingsmodal {
  .navds-modal__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

.send-informasjon-modal {
  .navds-modal__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
