.nokkeltall_container {
  padding: 1rem;
  flex: 1;
  display: flex;
  justify-content: space-between;
  max-width: 33.3%;
  border-right: 1px solid var(--a-gray-200);
}

.heading {
  font-weight: 400;
}

.nokkeltall {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.value {
  font-size: 2rem;
  font-weight: bold;
}

.muted {
  color: var(--a-text-subtle);
}

.alert {
  margin-bottom: 1rem;
  :global(.navds-alert__wrapper) {
    max-width: none;
  }
}
