.container {
  background-color: white;
  margin-bottom: var(--a-spacing-6);
}

.header {
  padding: var(--a-spacing-6);
  border-bottom: 1px solid var(--a-border-subtle);
}

.headerActions {
  display: flex;
  justify-content: flex-end;
  gap: var(--a-spacing-6);
}

.content {
  padding: var(--a-spacing-8) var(--a-spacing-6);
}

.metadatas {
  margin-top: var(--a-spacing-4);
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--a-spacing-8);
}

.form {
  padding: var(--a-spacing-6);
  border: 1px solid var(--a-border-default);
  border-radius: 4px;
}

.formHeader {
  display: flex;
  justify-content: space-between;
}

.formMetadata {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--a-spacing-6);
}

.formMetadataLabels {
  display: grid;
  gap: var(--a-spacing-4);
}

.formContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.formContentLeft {
  padding-right: var(--a-spacing-6);
}

.formContentRight {
  border-left: 3px solid var(--a-border-subtle);
  padding-left: var(--a-spacing-6);
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-2);
}

.formTilsagnsStatus {
  font-weight: bold;
  display: flex;
  align-items: center;
  margin-bottom: var(--a-spacing-1);
}

.formDateAndStatus {
  margin-top: var(--a-spacing-8);
}

.beregnetKostnad {
  margin: var(--a-spacing-4) 0px;
}

.formRows {
  display: flex;
  flex-direction: column;
  gap: var(--a-spacing-6);
}


.formActions {
  display: flex;
  justify-content: flex-end;
  padding-top: var(--a-spacing-6);
}

.rowSpaceBetween {
  display: flex;
  justify-content: space-between;
}
