.annullert_tag {
  text-decoration: line-through;
  background-color: white;
  color: var(--a-text-danger);
  border-color: var(--a-text-danger);
}

.annullert_tag:hover {
  text-decoration: none;
}

.til_annullering_tag {
  background-color: white;
  color: var(--a-text-danger);
  border-color: var(--a-text-danger);
}
