body {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: white;
}

.side {
  display: flex;
  flex-direction: column;
  width: min(80%, 2500px);
  margin-bottom: 3rem;
  overflow-x: auto;
  flex-grow: 1;
}

:global(#decorator-header) {
  background: white;
}

@media (min-width: 45rem) {
  .side {
    margin: 0 auto;
    padding: 3rem;
  }
}

@media print {
  :global(#decorator-header),
  :global(#decorator-footer),
  :global(.navbm-bedriftsmeny) {
    display: none;
  }

  a[href]:after {
    content: none !important;
  }
}
