body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: white;
}

.main {
  display: flex;
  flex-direction: column;
  overflow-x: auto;
  flex-grow: 1;
}

.side {
  margin: 1rem;
  width: min(90%, 2500px);
}

:global(#decorator-header) {
  background: white;
}

@media (min-width: 1024px) {
  .side {
    margin: 0 auto;
    padding: 2rem 0;
  }
}

@media (min-width: 1440px) {
  .side {
    max-width: 1920px;
  }
}

@media print {
  :global(#decorator-header),
  :global(#decorator-footer),
  :global(.navbm-bedriftsmeny) {
    display: none;
  }

  a[href]:after {
    content: none !important;
  }
}
