body {
  background-color: white;
  min-height: 100vh;
}

.header {
  background-color: white;
}

.side {
  display: flex;
  flex-direction: column;
  max-width: 1400px;
  margin-bottom: 3rem;
}

:global(#decorator-header) {
  background: white;
}

@media (min-width: 45rem) {
  .side {
    margin: 0rem auto;
    padding: 3rem;
  }
}

@media print {
  :global(#decorator-header),
  :global(#decorator-footer),
  :global(.navbm-bedriftsmeny) {
    display: none;
  }

  a[href]:after {
    content: none !important;
  }
}
