.tiltaksdetaljer {
  &_alert {
    :global(.navds-body-long) {
      font-size: 16px;
      min-width: 0;
    }
  }

  &_innsiktheader {
    font-size: 16px;
    font-weight: bold;
    margin-top: 1rem;
  }
}
