.mulighetsrommet-veileder-flate {
  .fane {
    &__root {
      margin-bottom: 2rem;
    }

    &__liste {
      display: flex;
      flex-direction: row;
      gap: 5%;
      justify-content: start;
      width: inherit;

      .navds-label {
        font-weight: normal;
        margin: 0 0.5rem;
      }

      button {
        background-color: transparent;
        border: none;
        padding: 1rem 0;
        cursor: pointer;

        &:hover {
          color: var(--navds-accordion-color-text-hover);
        }
      }

      .btn__tab {
        width: fit-content;
      }

      button[data-state='active'] {
        .navds-label {
          font-weight: bold;
        }
        border-bottom: 3px solid var(--navds-semantic-color-interaction-primary);
      }
    }
  }

  .navds-tabs__tabpanel {
    .tiltaksdetaljer {
      &__alert {
        margin-bottom: 1rem;
      }

      &__maksbredde {
        max-width: 75ch;
      }
    }

  }

  @media (max-width: 1200px) {
    .fane__liste {
      justify-content: space-between;
    }
  }
}
