.fane {
  &_liste {
    :global(.navds-label) {
      font-weight: normal;
      margin: 0 0.5rem;
      color: var(--a-text-default);
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:hover {
        color: var(--a-surface-action);
      }
    }

    button[data-state="active"] {
      .navds-label {
        font-weight: bold;
      }
    }
  }
}
:global(.navds-tabs__tablist-wrapper) {
  width: 100%;
  display: block !important;
}
