.fane {
  &__root {
    margin-bottom: 2rem;
  }

  &__liste {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid var(--navds-semantic-color-border-muted);
    margin-bottom: 2rem;
    gap: 5%;
    justify-content: start;
    width: inherit;

    ::global(.navds-label) {
      font-weight: normal;
      margin: 0 0.5rem;
      color: var(--navds-semantic-color-text);
    }

    button {
      background-color: transparent;
      border: none;
      cursor: pointer;

      &:hover {
        color: var(--navds-accordion-color-text-hover);
      }
    }

    .btn__tab {
      width: fit-content;
    }

    button[data-state='active'] {
      .navds-label {
        font-weight: bold;
      }

      border-bottom: 3px solid var(--navds-semantic-color-interaction-primary);
    }
  }

  @media (max-width: 1200px) {
    .fane__liste {
      justify-content: space-between;
    }
  }
}
