.tiltakstype_oversikt {
  display: grid;
  grid-template-columns: 336px auto;
  grid-template-rows: minmax(auto, min-content) min-content auto;
  grid-gap: 1rem;
  min-height: 86vh;

  .filtertags_og_knapperad {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    grid-row: 1;
  }

  .knapperad {
    display: flex;
  }
}
