.shortcuts_container {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.shortcut a {
  background-color: var(--ac-header-bg, var(--a-surface-inverted));
  color: white;
  text-transform: uppercase;
  min-height: 10rem;
  min-width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 5%;
  flex-direction: column;
}
