.shortcuts_container {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(1rem, 1fr));
  gap: 0.5rem;
}

.shortcut a {
  background-color: var(--ac-header-bg, var(--a-surface-inverted));
  color: white;
  padding: 0.5rem;
  text-transform: uppercase;
  min-height: 10rem;
  min-width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
