.endringshistorikkList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.endringshistorikk_knapp {
  svg {
    margin-top: 4px;
  }
}

.system {
  font-style: italic;
  font-weight: 100;
  color: var(--a-text-subtle);
}
