<div class="block line_bottom">
    <table class="block">
        <tbody>
            <tr>
                <th>Tiltaksnavn:</th>
                <td>{{ utbetaling.gjennomforing.navn }}</td>
            </tr>
            <tr>
                <th>Tiltakstype:</th>
                <td>{{ utbetaling.tiltakstype.navn }}</td>
            </tr>
        </tbody>
    </table>
</div>
