{{#if utbetaling.godkjentAvArrangorTidspunkt}}
<div class="block">
    <table class="block">
        <tbody>
            <tr>
                <th>Dato innsendt av arrangør</th>
                <td>{{iso_to_nor_date utbetaling.godkjentAvArrangorTidspunkt}}</td>
            </tr>
        </tbody>
    </table>
</div>
{{else if utbetaling.createdAt}}
<div class="block">
    <table class="block">
        <tbody>
            <tr>
                <th>Dato opprettet hos Nav</th>
                <td>{{iso_to_nor_date utbetaling.createdAt}}</td>
            </tr>
        </tbody>
    </table>
</div>
{{/if}}