<div class="block">
    <table class="block">
        <tbody>
            <tr>
                <th>Arrangør:</th>
                <td>{{ utbetaling.arrangor.navn }} {{ utbetaling.arrangor.organisasjonsnummer }}</td>
            </tr>
        </tbody>
    </table>
</div>