<div class="block line_bottom">
    <h4>Utbetaling</h4>
    <table class="block">
        <tbody>
            <tr>
                <th>Utbetalingsperiode:</th>
                <td>{{ iso_to_nor_date utbetaling.periodeStart }} - {{ iso_to_nor_date utbetaling.periodeSlutt }}
                </td>
            </tr>
            {{#if utbetaling.beregning.antallManedsverk }}
            <tr>
                <th>Antall månedsverk:</th>
                <td>{{utbetaling.beregning.antallManedsverk}}</td>
            </tr>
            {{/if}}
            <tr>
                <th>Beløp til utbetaling:</th>
                <td>{{ currency_no utbetaling.beregning.belop }} kr</td>
            </tr>
        </tbody>
    </table>
</div>
