.tilbakeknapp {
  max-width: fit-content;
  display: flex;
  justify-content: space-between;
  gap: .5rem;
  align-items: center;
  padding: .5rem;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid var(--navds-semantic-color-link);
  }
}
