.tiltakstype-oversikt__sidemeny {
  width: 15rem;
  height: 100%;

  position: sticky;
  top: 0;

  border-right: 1px solid var(--navds-semantic-color-border-muted);
  padding: 1rem 0.5rem 1rem 0;
  transition: top 0.2s ease 0s, max-height 0.2s ease 0s;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .sidemeny__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
