.card_container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  gap: 64px;

  @media (width <= 1440px) {
    gap: 32px;
  }

  .card {
    width: 370px;
    height: 350px;
    background-color: var(--a-white);
    align-items: center;
    display: grid;
    grid-template-rows: auto repeat(2, 1fr);
    padding: 3rem;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    text-decoration: none;
    color: black;
    border-radius: 0.25rem;

    &:hover {
      transition: all ease-in-out 150ms;
      filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.25));
    }

    .circle {
      display: flex;
      justify-content: center;
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 0 auto 0.5rem;

      img {
        overflow: hidden;
        border-radius: 50%;
      }

      svg {
        width: 4rem;
        height: auto;
      }
    }

    .infotekst {
      color: var(--a-text-subtle);
    }
  }
}
