.filter_loader {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.deleknapp_container {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
  gap: 8px;
}

.deleknapp {
  width: 100%;
}

.link {
  text-align: center;
  margin: 1rem 0;
}
.alert {
  margin-top: 0.5rem;
  border-radius: 0;
}
.dialogknapp {
  text-align: center;
  margin-top: 1rem;

  svg {
    width: 20px;
    height: auto;
  }
}
