@keyframes slide-in {
  from {
    opacity: 0.5;
    bottom: 50px;
  }
  to {
    opacity: 1;
    bottom: 100px;
  }
}

.feedback_modal {
  width: 30rem;
  background-color: #fff;
  box-shadow: 0 6px 0.5rem 0 #6a6a6a;
  transition: all 0.1s ease-in-out;
  z-index: 1000;
  position: fixed;
  right: 1rem;
  bottom: 6rem;
  padding: 1rem;

  &_heading {
    margin-bottom: 1rem;
  }

  &_forms {
    color: #fff;
    background-color: #0067c5;
    padding: 0.7rem 1rem;
    text-decoration: none;

    &:hover {
      background-color: #0056b4;
    }
  }

  &_textarea {
    margin-bottom: 1rem;
  }

  &_slideIn {
    bottom: 100px;
    animation: 0.33s ease-out slide-in;
  }
}
