.mulighetsrommet-veileder-flate {
  .feedback {
    &__btn {
      box-shadow: 0 6px 10px 0 #6a6a6a;
      transition: all 0.1s ease-in-out;
      z-index: 1000;
      text-align: center;
      position: fixed;
      right: 1rem;
      bottom: 1rem;
      border-radius: 50%;
      width: 4rem;
      height: 4rem;
      background-color: #c30000;

      &:hover {
        width: 4.5rem;
        height: 4.5rem;
      }

      &__icon {
        width: 2rem;
        height: auto;
      }
    }

    &__modal {
      width: 468px;
      background-color: #fff;
      box-shadow: 0 6px 10px 0 #6a6a6a;
      transition: all 0.1s ease-in-out;
      z-index: 1000;
      position: fixed;
      right: 1rem;
      bottom: 6rem;
      padding: 1rem;

      &__heading {
        margin-bottom: 1rem;
      }


      &__textarea__send-btn {
        margin: 1rem 0;
      }
    }
  }
}
