<div class="regards">
    <div>{{intro}}</div>
    <div>{{subject}}</div>
    <div class="regards_others">
        {{#each others}}
            <div>{{this}}</div>
        {{/each}}
    </div>
</div>
