{{#with title}}
    <h{{level}}>{{text}}</h{{level}}>
{{/with}}
{{#each blocks}}
    <div class="block{{#unless @last}} line_middle{{/unless}}{{#if @last}} line_bottom{{/if}}">
        {{> block-content/partials/block entries=this.entries }}
    </div>
{{/each}}
