.container {
  max-width: 1252px;
  margin: 0 auto;
}

.top_wrapper {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.tiltaksgjennomforing_detaljer {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 65% 35%;
  grid-gap: 2rem;
  background-color: var(--a-white);
  padding: 2rem;
}

.tiltakstype_header_maksbredde {
  max-width: 760px;
}

.apent_for_innsok_status {
  grid-column: 2;
  grid-row: 1;
  font-size: 2rem;
  display: flex;
  justify-content: flex-end;
  margin-right: 2rem;
}

.nokkelinfo_container {
  display: flex;
}

.sidemeny {
  height: fit-content;
  margin-top: 3rem;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column: 2;
  max-width: 380px;
  color: var(--a-text-default);
}

:global(.navds-panel) {
  padding: 1.5rem;
  background-color: var(--a-gray-100);
}

:global(.navds-tabs__tablist-wrapper) {
  box-shadow: unset;
}

.oppskriftContainer {
  background-color: white;
  padding: 0 5rem;
}

@media (width <= 1200px) {
  .tiltaksgjennomforing_detaljer {
    grid-template-columns: auto;
    grid-gap: 2rem;

    .sidemeny {
      grid-row: 2;
      margin-top: 0;
      grid-row-start: initial;
      grid-row-end: initial;
      grid-column: initial;
      max-width: none;
      padding: 0 3rem;
    }
  }

  .tiltakstype_header_maksbredde {
    max-width: none;
  }

  .oppskriftContainer {
    padding: 0 1rem;
  }
}
