.header_container {
  background-color: var(--a-white);
  padding: 1rem 0.5rem 0.5rem;

  &_border {
    border-bottom: solid 1px var(--a-border-divider);
  }

  .header {
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 0.5rem;
    gap: 1.5rem;
    align-items: center;
    display: flex;

    .header_outer_container {
      display: flex;
      justify-content: space-between;
      gap: 1.5rem;
      flex-wrap: wrap;
    }

    .header_outer_container_forhandsvisningsknapp {
      width: 1440px;

      @media (width <= 1450px) {
        width: auto;
      }

      span {
        align-self: center;
      }

      .forhandsvisningsknapp {
        align-self: center;
        display: flex;
        justify-content: flex-end;
        padding-right: 0.5rem;
        flex-wrap: wrap;

        @media (width <= 1460px) {
        }
      }
    }

    .tiltaksnavn_status {
      display: flex;
      justify-content: flex-start;
      gap: 1.5rem;
      align-items: center;
      flex-wrap: wrap;
    }

    .navn {
      max-width: 50rem;
    }
  }

  .header_wrapper {
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  &_tabs {
    border-bottom: solid 1px var(--a-border-divider);
    background-color: var(--a-white);

    :global(.navds-tabs__tablist-wrapper) {
      max-width: 1920px;
      margin: 0 auto;
      padding-left: 0.5rem;
      box-shadow: none;
    }
  }
}
