.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.header_og_verdi {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem 0;
}

.separator {
  background-color: var(--a-border-divider);
  height: 2px;
  border: none;
  width: 100%;
  margin: 2.5rem 0;
}
