.header_og_verdi {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .bold {
    font-weight: bold;
  }
  .definition {
    margin: 0;
    white-space: pre-line;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
}

.separator {
  background-color: var(--a-border-divider);
  height: 1px;
  border: none;
  width: 100%;
  margin: 1.5rem 0;
}

.vertical_separator {
  background-color: var(--a-border-divider);
  width: 1px;
  border: none;
  margin: 0 1.5rem;
}