.estimert_ventetid {
  display: block;
  color: var(--a-text-subtle);
}

.tilgjengelighetsstatus {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;

  img {
    width: 1rem;
    height: 100%;
    align-self: center;
  }
}
