.gjennomforinger {
  margin: 0 0 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding: 0;
}

.under_oversikt {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2rem;

  &_filter_open {
    padding: 0 0 0 1rem;
  }
}

.visnings_og_sorteringsmeny {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  background-color: var(--a-bg-subtle);
  margin-bottom: 0.5rem;
}

.visningsmeny {
  display: flex;
  grid-row: 2;
  gap: 2rem;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .gjennomforinger_filter_open {
    padding: 0 0 0 0.5rem;
  }
}

.modia_toolbar_container {
  flex-direction: column;
}
