.gjennomforinger {
  margin: 1rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}

.filter_loader {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.under_oversikt {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.overskrift_og_sorteringsmeny {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
