:global(.mulighetsrommet-veileder-flate) {
  .joyride_knapp {
    color: black;
    justify-self: end;
  }

  :global(.navds-label) {
    display: flex;
    flex-direction: row;
    font-weight: lighter;
    gap: 2px;

    svg {
      margin: 0 auto;
    }
  }
}
