.joyride_knapp {
  :global(.navds-label) {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
  }

  svg {
    margin: 0 auto;
    width: 1.5rem;
    height: auto;
  }
}
