.container {
  margin-bottom: 1rem;
  max-width: 100%;
  padding-inline-start: unset;

  @media screen and (min-width: 850px) {
    max-width: 35%;
  }
}

.link {
  text-decoration: none;
  color: black;
}

.notifikasjonsliste {
  max-width: 80ch;
  list-style: none;
  margin: 0;
  padding: 0;
}
