$ulest: var(--a-surface-subtle);
$ulest_ikon: var(--a-icon-subtle);
$lest: var(--a-icon-success);

.button {
  cursor: pointer;
  background-color: unset;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  margin-top: -10px;
}

.icon {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.read {
  color: $lest;

  &:hover {
    background-color: $ulest;
    color: $ulest_ikon;
  }
}

.unread:hover {
  background: $ulest;
}
