.notifikasjonsliste_ul {
  margin: 0 0 1rem;
  padding-inline-start: unset;
  display: flex;
  flex-direction: column;
}

.max_width {
  max-width: 1440px;
}

.list_element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0.5rem 0;
  padding: 1rem;
  @media (width <= 900px) {
    width: 95%;
  }
}

.leste {
  border-bottom: 1px solid var(--border-divider, rgba(0, 0, 0, 0.19));
  background-color: var(--a-gray-200);
}

.uleste {
  background-color: var(--a-white);
  border-radius: 4px;
  border-bottom: 0.5px solid transparent;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-width: 75ch;
}

.muted {
  color: var(--a-text-subtle);
  font-size: 14px;
}

.truncate {
  overflow: hidden;
  overflow-wrap: normal;
}

.right {
  display: flex;
  align-items: start;
  gap: 0.4rem;
}

.read {
  text-decoration: line-through;
}
