.mulighetsrommet-veileder-flate__modal,
.navds-modal {
  width: 40rem;
  padding: 1rem;

  .navds-heading {
    margin-right: 1rem;
  }

  .modal_btngroup {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
  }

  .navds-modal__content {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}
