.navds-modal {
  width: 40rem;
  padding: 1rem;
  .navds-heading {
    margin-right: 1rem;
  }
  .modal_btngroup {
    display: flex;
    gap: 1rem;
  }
  .navds-modal__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
.tilbakemeldingsmodal,
.send-informasjon-modal {
}
