//.overstyrte_styles_fra_ds_modal {
//  width: 40rem;
//  padding: 1rem;
//}

//.modal_btngroup {
//  display: flex;
//  gap: 1rem;
//  margin-top: 1.5rem;
//  justify-content: space-between;
//}


.heading {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .icon {
    width: 3rem;
    height: auto;
    align-self: center;
  }
}

.knapperad {
  display: flex;
  gap: 2rem;
}
