.oppgave_container {
  background-color: white;
  padding: 1rem;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header span {
    color: var(--a-text-subtle);
  }

  .titleAndStatus {
    display: flex;
    justify-content: space-between;
    margin-top: var(--a-spacing-4);
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }
}

.link {
  margin-top: var(--a-spacing-3);
}

.oppgaveStatus {
  padding: var(--a-spacing-1);
}

