.button_container {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.modal {
  width: 550px;
}

.modal_body {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  max-height: 600px;
  overflow: auto;
  gap: 1rem;
}

.list_item_container {
  padding: 1rem;
  border: 1px solid var(--a-border-divider);
  background-color: var(--a-gray-100);
  border-radius: 0.25rem;
}

.list_unstyled {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  padding: 0;
  margin: 0;
}
