.input_container {
  margin-top: 8px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.telefonepost_input {
  margin: 8px 0;
  display: flex;
  justify-content: space-between;
}

.telefon_input {
  display: flex;
  align-items: start;
  flex: 1 1 auto;
}

.epost_input {
  align-items: start;
  flex: 2 1 auto;
}

.button_container {
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.error_msg {
  font-size: 16px;
  margin-top: 8px;
  color: #c30000;
}
