.accordion_header_text {
  display: flex;
  justify-content: space-between;
  width: 16rem;
  font-size: 1rem;

  .antall_valgte_filter {
    background-color: var(--a-blue-100);
    padding: 0 8px;
    border-radius: 4px;
  }
}
