.accordion_header_text {
  display: flex;
  justify-content: space-between;
  width: 15rem;
  font-size: 1rem;

  .antall_valgte_filter {
    background-color: var(--ax-bg-accent-soft);
    padding: 0 8px;
    border-radius: 4px;
  }
}
