.detaljer {
  background: white;
  padding: 1rem;
  width: 40rem;
  display: flex;
  flex-direction: column;

  .bolk {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid var(--a-gray-300);
    padding-right: 20%;

    @media (width <= 1200px) {
      padding-right: 40%;
    }
  }

  @media (width <= 1200px) {
    width: 100%;
  }
}
