.mulighetsrommet-veileder-flate {
  .tiltakstype-oversikt {
    .ikonknapp {
      width: fit-content;
      color: black;

      &:hover {
        box-shadow: none;
      }

      &:focus {
        box-shadow: none;
      }

      &:active {
        background-color: transparent !important;
        box-shadow: none !important;
        color: var(--navds-button-color-tertiary-text);
      }
    }
  }
}
