.rediger-opprett-tiltaksvariant {
  align-self: center;
  display: flex;
  justify-items: center;
  width: 100%;

  &__form {
    //    &__tittel,
    //    &__ingress,
    //    &__beskrivelse,
    //    .knapperad {
    //      margin-bottom: 1rem;
  }
  //  &__tilbakeknapp {
  //    justify-self: start;
  //  }
  //
  //  &__overskrift {
  //    margin: 0 auto 2rem;
  //  }
  //
  //    .knapperad {
  //      display: flex;
  //      gap: 2rem;
  //
  //      svg {
  //        margin-left: 0.3rem;
  //      }
  //    }
  //  }
}
