.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  .icon {
    width: 3rem;
    height: auto;
    align-self: center;
    &_warning {
      color: var(--a-nav-red);
    }
    &_error {
      color: var(--a-orange-500);
    }
  }
}
.error {
  color: var(--a-red-500);
}

.knapperad {
  display: flex;
  gap: 2rem;
}
