$tiltakstypeGrid: 2fr 1fr repeat(2, 0.5fr) 1%;

.oversikt {
  margin: 0;
  margin-top: 1rem;
  padding: 0;
}

.under_oversikt {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.tags {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  max-width: 450px;
  flex-wrap: wrap;
}

.listeheader {
  display: grid;
  margin-bottom: 0.5rem;
  padding: 0 1rem;

  :global(.navds-body-short) {
    font-weight: bold;
  }

  &_tiltakstyper {
    grid-template-columns: $tiltakstypeGrid;
  }
}

.list_element {
  list-style: none;
}

.listerad {
  display: grid;
  background-color: white;
  margin-bottom: 0.25rem;
  padding: 2rem 1rem;
  border-radius: 0.25rem;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: black;
  text-decoration: none;

  &:hover {
    background-color: var(--a-gray-50);
  }

  &_tiltakstype {
    grid-template-columns: $tiltakstypeGrid;

    .dato {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-right: 10rem;
    }
  }
}
