$tiltakstypeGrid: 2fr 1fr repeat(2, 0.5fr) 1%;
$avtaleGrid: repeat(2, 1.2fr) 0.5fr repeat(2, 0.5fr) 10% 1%;
$tiltaksgjennomforingsGrid: 2fr repeat(5, 1fr) 1%;

@mixin avtaleGridProperties {
  grid-template-columns: $avtaleGrid;
  gap: 1rem;
}

.oversikt {
  margin: 1rem 0 0;
  padding: 0;
}

.under_oversikt {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.listeheader {
  display: grid;
  margin-bottom: 0.5rem;
  padding: 0 1rem;
  gap: 1rem;

  :global(.navds-body-short) {
    font-weight: bold;
  }

  &_tiltakstyper {
    grid-template-columns: $tiltakstypeGrid;
  }

  &_avtaler {
    @include avtaleGridProperties();
  }

  &_tiltaksgjennomforinger {
    grid-template-columns: $tiltaksgjennomforingsGrid;
  }
}

.list_element {
  list-style: none;
}

.listerad {
  display: grid;
  background-color: white;
  margin-bottom: 0.25rem;
  padding: 2rem 1rem;
  border-radius: 0.25rem;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  color: black;
  text-decoration: none;
  gap: 1rem;

  &:hover {
    background-color: var(--a-gray-50);
  }

  &_tiltakstype {
    grid-template-columns: $tiltakstypeGrid;

    .dato {
      display: grid;
      grid-template-columns: 1fr 1fr;
      margin-right: 10rem;
    }
  }

  &_avtale {
    @include avtaleGridProperties();
  }

  &_tiltaksgjennomforing {
    grid-template-columns: $tiltaksgjennomforingsGrid;
  }
}

.pil {
  width: 1.5rem;
  height: auto;
}
