.tiltakstype-detaljer,
.tiltaksgjennomforing-detaljer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5vw;

  .panel {
    grid-row: 1;
    grid-column: 2;
    width: 30%;
    height: fit-content;
    max-width: 11rem;

    .rediger-knapp {
      margin: 1rem auto 0;
      width: -webkit-fill-available;
    }
  }

  .tabell__tiltaksgjennomforinger {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
