<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Utbetaling</title>
    <meta name="subject" content="Dokumentemne" />
    <meta name="author" content="pdfgen" />
    <meta name="description" content="Refusjonskrav" />
    {{> utbetaling/partials/styles}}
</head>

<body>
    {{> utbetaling/partials/navlogo}}
    <h1>Innsendt krav om utbetaling</h1>
    {{> utbetaling/partials/felles_innsendingsdetaljer}}
    {{#eq utbetaling.beregning.type "FORHANDSGODKJENT"}}
    {{> utbetaling/partials/stengtHosArrangor}}
    {{/eq}}
    {{#eq utbetaling.beregning.type "FORHANDSGODKJENT"}}
    {{> utbetaling/partials/deltakerperioder}}
    {{> utbetaling/partials/beregnetManedsverk}}
    {{/eq}}

</body>

</html>