<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Utbetalingskvittering</title>
    <meta name="subject" content="Dokumentemne" />
    <meta name="author" content="pdfgen" />
    <meta name="description" content="Refusjonskvittering" />
    {{> utbetaling/partials/styles}}
</head>

<body>
    {{> utbetaling/partials/navlogo}}
    <h1>Innsendt krav om utbetaling</h1>
    {{> utbetaling/partials/felles_innsendingsdetaljer}}
</body>

</html>