<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8"/>
    <title>{{title}}</title>
    <meta name="subject" content="{{subject}}"/>
    <meta name="description" content="{{description}}"/>
    <meta name="author" content="{{author}}"/>
    {{> utbetaling/partials/styles}}
</head>

<body>
{{> utbetaling/partials/navlogo}}
{{#each sections}}
    {{> utbetaling/partials/section}}
{{/each}}
</body>

</html>
