name: CI/CD (mr-api-sanity-sync)

on:
  push:
    paths:
      - .github/workflows/mr-api-sanity-sync.yaml
      - build.gradle.kts
      - settings.gradle.kts
      - gradle.properties
      - gradle/libs.versions.toml
      - common/**
      - mulighetsrommet-api-sanity-sync/**
  workflow_dispatch:
    inputs:
      environment:
        type: choice
        description: Environment
        required: true
        default: dev
        options:
          - dev
          - dev_and_prod

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CI: true
  TZ: Europe/Amsterdam

jobs:
  build-and-test:
    name: Build and test
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup backend
        uses: ./.github/actions/setup-backend
      - name: Build with Gradle
        run: ./gradlew :mulighetsrommet-api-sanity-sync:build
      - name: Build and push Docker image
        uses: nais/docker-build-push@v0
        id: docker-build-push
        if: github.event_name == 'push' && github.ref_name == 'main' || github.event_name == 'workflow_dispatch'
        with:
          team: team-mulighetsrommet
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          dockerfile: ./mulighetsrommet-api-sanity-sync/Dockerfile
          docker_context: mulighetsrommet-api-sanity-sync
          image_suffix: mulighetsrommet-api-sanity-sync
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}

  deploy-dev:
    name: Deploy (dev)
    runs-on: ubuntu-latest
    needs: [ build-and-test ]
    if: github.event_name == 'push' && github.ref_name == 'main' || github.event_name == 'workflow_dispatch'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Deploy
        uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: dev-gcp
          RESOURCE: mulighetsrommet-api-sanity-sync/.nais/nais-dev.yaml
          VAR: image=${{ needs.build-and-test.outputs.image }}

  deploy-prod:
    name: Deploy (prod)
    runs-on: ubuntu-latest
    needs: [ build-and-test, deploy-dev ]
    if: github.event_name == 'push' && github.ref_name == 'main' || github.event_name == 'workflow_dispatch' && github.event.inputs.environment == 'dev_and_prod'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Deploy
        uses: nais/deploy/actions/deploy@v1
        env:
          APIKEY: ${{ secrets.NAIS_DEPLOY_APIKEY }}
          CLUSTER: prod-gcp
          RESOURCE: mulighetsrommet-api-sanity-sync/.nais/nais-prod.yaml
          VAR: image=${{ needs.build-and-test.outputs.image }}
