name: Deploy Sanity Studio

on:
  push:
    paths:
      - .github/workflows/mr-sanity-studio.yaml
      - package.json
      - pnpm-lock.yaml
      - turbo.json
      - frontend/mulighetsrommet-cms/**
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  CI: true
  TZ: Europe/Amsterdam

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    permissions: write-all
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
    steps:
      - uses: actions/checkout@v4
      - name: Setup frontend
        uses: ./.github/actions/setup-frontend
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}
      - name: Bygg studio
        run: npx turbo run build --filter=mulighetsrommet-cms
      - name: Push docker image to GAR and sign image
        if: github.event_name == 'push' && github.ref_name == 'main' || github.event_name == 'workflow_dispatch'
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: team-mulighetsrommet
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          dockerfile: ./frontend/mulighetsrommet-cms/Dockerfile
          docker_context: ./frontend/mulighetsrommet-cms

  deploy-studio:
    name: Deploy Sanity studio
    runs-on: ubuntu-latest
    needs: [ci]
    if: github.event_name == 'push' && github.ref_name == 'main' || github.event_name == 'workflow_dispatch'
    permissions:
      id-token: write # Needed for `nais/deploy/actions/deploy`
    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: frontend/mulighetsrommet-cms/.nais/nais-prod.yaml
          VAR: image=${{ needs.ci.outputs.image }}
